html, body{
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
}

 /* THIS IS THE GLOBAL WIDGETS */
 
.navbar{
    height:auto;
    max-height: 70px;
    top:-20px;
    padding-right:1%;
}

#homePage{
    position:relative;
    min-width:100%;
    min-height: 100%;
}

#contactPage{
    position:absolute;
    background-color:whitesmoke;
    min-width:100%;
    min-height: 100%;
    
}

.navbar a{
    float:right;
}
.navbar-brand{
    float:left;
}
.homeBody{
    background-color: #D4AD24;
}

.home{
overflow:hidden;
float: right;
color:rgba(0, 0, 0, 0.6);;
text-align: right;
text-decoration: none;

font-family: Abril Fatface;
font-style: normal;
font-weight: 900;
font-size: 1.5vw;
line-height: 24px;
}

.navbar-nav{
    float:right;
    margin-right:7%;
    padding-bottom:1%;
}

.home:hover {
color: #C1BCA9;
text-decoration: none;
}


.list-group-items{
    margin-left:4.5%;
    /* margin-right:5%; */
}

#logo{
    max-width: 73px;
    width:100%; height: auto;
    float:left;
    padding-bottom:3%;
 }

#logoFoot{
    max-width: 50px;
    width:100%; height: auto;
}

.footer {
    position: fixed;
    width: 1100px;
    max-height:400px;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6A6955;
    display: flex; 
    justify-content: center;
    align-items: center;
 }

/* END OF THE GLOBAL WIDGETS */

/*---------------------------------------------------------------------------------------------------------------------*/


/* THE BEGINNING OF HOME PAGE */
.center{
    margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.article{
    top:30%;
}

.center2{
    margin: auto;
  position: relative;
}

#Plis{
    top:30%;
}

h1{
   
    text-align: center;
    margin:auto;

    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 900;
    font-size: 8vw;

    color: white;}

h2{
    position: absolute;
    text-align: center;
    margin:auto;

    font-family: Didot;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    transition-timing-function: ease-in;
    color: rgba(0, 0, 0, 0.6);}

span:before{
    content:"How are you today?";
    align-content: center;
    animation: typing-text infinite 8s;
    
}

@keyframes typing-text{
    0%{
        content:"How are you today?"
    }
    50%{
        content:"How are you today?"
    }
    100%{
        content:"I hope you have a good day!"
}
}


.square{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 124px;
    top: 116.07px;
    background: #E4E4E2;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#square2{
    left: 256px;
    top: 250.07px;
    background: #6A6955;  
}

#square3{
    left: 121px;
    top: 387.07px;
    background: #E5CA55;
}

.square:hover, #square2:hover, #square3:hover{
    background-color: #C1BCA9;
}

.capital{
    position: absolute;
    left: 140px;
    top: 132px;
    
    font-family: Didot;
    
    font-weight: bold;
 

    color: #FFFFFF;
    font-size: 80px;
    font-style: normal;
    
}

.sqText{
    position: absolute;
    left: 208px;
    top: 187px;
    
    font-family: Didot;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: #FFFFFF;
}

#capital2{
    left: 277px;
    top: 265px;
}

#sqText2{
    left: 313px;
    top: 317px;
}

#capital3{
    left: 117px;
    top: 405px;
}

#sqText3{
    left: 174px;
    top: 458px;
}

#plant{
    position: absolute; width: 476px; height: 476px; left:900px; right: 500px;top: 200px;
}

.quoteRectangle{
    position: absolute;
width: 1380px;
height: 431px;
left: 0px;
top: 670px;

background: #F3E4A2;
}

#quote{
position: absolute;

top: 750px;

font-family: Didot;
font-size: 64px;
line-height: 82px;
text-align: center;

color: #000000;
}

#quote2{
    position: absolute;

top: 750px;

font-family: Didot;
text-align: center;

color: #000000;
    font-style: italic;
    font-size:30px;
}

.contactLine{
    position: absolute;
width: 127px;
height: 0px;
left: 343px;
top: 1210px;

border: 1px solid #D4AD24;
transform: rotate(90deg);
}

.conRectangle{
    position: absolute;
width: 1360px;
height: 191px;
left: 0px;
top: 1144px;

background:white;
}


.conText{
    position: absolute;
width: 100px;
height: 23px;
left: 164px;
top: 1300px;

font-family: Be Vietnam;
font-size: 20px;
line-height: 23px;
text-align: center;

color: rgba(0, 0, 0, 0.6);}

.socmedLogo{
    position:absolute;
    max-width: 64px;
    width:100%;
    height:auto;
    left: 345px;
    top: 1155px;
}

.socLogo{
    margin-bottom:10px;
    max-width: 33px;
    width:100%;
    height: auto;
    color:rgba(0, 0, 0, 0.6)
}

.socmedText{
background-color: #FFFFFF;
}

.contacts{
    margin-top:10%;
    width:100%;
    height:100%;
}



#contactTitle{
    font-family: Abril Fatface;
    
    text-align:center;
    color: #D4AD24;
    float:center;
    padding-top:15%;
   
}

.socText{
font-family: Be Vietnam;
font-size: 1.5vw;
text-align: center;
margin-bottom:10px;
color: rgba(0, 0, 0, 0.6);
}

#contact{
    position: absolute;
width: 166px;
height: 32px;
left: 423px;
top: 1243px;

font-family: Didot;
font-size: 25px;
line-height: 32px;

color: #000000;
}


.logoSocialMedia{
    float:center;
    margin-left:auto;
    margin-right:auto;
}
.socmed2Logo{
    position: absolute;
    width: 180px;
    height: 33px;
    left: 1200px;
    top: 1240px;
}

.socLogo2{
    margin-right:10px;
    max-width: 25px;
    width:100%;
    height: auto;
    color:rgba(0, 0, 0, 0.6)
}

#follow{
    position: absolute;
left: 1210px;
top: 1202px;

font-family: Didot;
font-size: 20px;
line-height: 26px;
text-align: right;

color: #000000;}

.resumess{
    font-size: 3vw;
}


/* THIS IS THE END OF HOME PAGE */

/*---------------------------------------------------------------------------------------------------------------------*/


/* THIS IS THE BEGINNING OF THE PROFILE PAGE */


#name{
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 900;
    font-size: 3.5vw;
    line-height: 65px;
    float:left;
    /* padding-left:20px;  */
    /* identical to box height */

    color: #6A6955;
}

.allContent{

    width:100%;
    float:center;
    margin-bottom:10%;
    margin-left:0;
    
}

.allProf{
    width:100%;
    float:center;
    margin-top:12%;
    margin-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;

  
}

.squaree{
    position: absolute;
    max-width: 700%;
    height: auto;
left: 107px;
top: 224px;

background: #E6BE28;
}

.squaree:before{
    content: "";
    display: block;
    padding-top: 100%;
}

@media screen and (max-width:600px){
    img.fotoaku{
        width:200px;
        height:200px;
    }

    button.btn-secondary{
        margin-bottom:10%;
    }

    h2#activityName{
        font-size:3.5vw;
    }

    p.activity{
        font-size:2.5vw;
    }

    p#ScheduleTitle{
        font-size:10vw;
    }

    input.btn-add{
        margin-top:-5%;
        font-size:3.5vw;
    }

    .form-row{
        margin-right:3%;
        margin-left:3%;

        font-size:4vw;
        font-family: Be Vietnam;
    }

    .allProf{
        margin-left: 2%;
        margin-right:2%;
    }
    p.socText{
        font-size:3.5vw;
    }

    ul.navbar-nav{
        margin-right:13%;
    }
    img.socLogo2{
        width:20px;
        height:20px;
    }
    p.editorialtitle{
        font-size:4vw;
    }
    .navbar{
        height:52px;
    }

    a.home{
        font-size: 3vw;
    }

    h1#contactTitle{
        font-size:11vw;
    }

    h1{
        font-size: 20vw;
    }

    h2{
        font-size:4vw;
    }

    img#logo{
        width:50px;
        height:50px;
    }

    div.footer{
        height : 30px;
    }

    p.imgText{
        font-size:2.5vw;
        text-align:center;
    }

    p.botText{
        font-size:2.5vw;
    }
    img#logoFoot{
        width:25px;
        height:25px;
    }

    p#name {
        margin-bottom: -10%;
        font-size: 6vw;
        padding: 5px;
    }

    img.mr-3{
        width:30px;
        height:30px;
    }

    p.Title{
        font-size: 4vw;
    }
    p#introtext{
        font-size:3.5vw;
    }

    button.btn{
        font-size: 2.5vw;
    }

    h5.resumess{
        font-size: 3.5vw;
        padding-right: 3%;
    }

    div.media-body{
        font-size: 3vw;
        padding-right:3%;
    }

    img#ed1{
        width: 200px;
    }

    img#ed2{
        width: 160px;
    }

    img#ed3{
        width: 140px;
    }

    img#botImg1{
        width: 140px;
    }
    
    img#botImg2{
        width:140px;
    }



}

.fotoaku{
    overflow:auto;
    width: 100%;
    max-width: 260px;
    height: auto; 
    float:left;
    display:block;
    padding-top: 2%;
    /* padding-left:5%;  */
}

.introtitle{
    position: absolute;
    text-align: justify;
    letter-spacing: 0.05em;
    left: 435px;
    top: 230px;
}

.Title{
font-family: Abril Fatface;
font-style: normal;
font-weight: 900;
font-size: 3.2vw;
line-height: 138.5%;
color: #C1BCA9;
}

.introtitle2{
    position: absolute;
    left: 435px;
    top: 303px;
    text-align: justify;
    letter-spacing: 0.05em;
    width: 576px;
    height: 260px;
}



#introtext{
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4vw;
    line-height: 138.5%;
    text-align: justify;
    width: 100%;
    height: auto;
    color: #000000;
}

.all{
    width:100%; 
    height:auto;
}
.rectangle3{
    position: absolute;
    width: 1365px;
    height: 225px;
    left: 0px;
    top: 430px;
    
    background: white;
  }

.btn-profile{
    background: #E6BE28;
    

}

.btn{
    margin: .375rem;
    width:100%;
    min-width: 50px; 
    max-width:132px;
    max-height:45px;
    text-transform: uppercase;
    font-family: Be Vietnam;
    word-wrap: break-word;
    white-space: normal;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: auto;
    font-size: 1vw;
}

.resume{
    left: 416px;
top: 400px;
    width: 100%;
height: auto;
}

.card-body{
    width:100%;
    max-width: 650px;
    height: auto;
}

.media-body{
    font-size:1.3vw;
    
}

.card-body2{
    width:100%;
    max-width: 650px;
    height: auto;
    padding-left:30px;
    padding-top:20px;
}

.mr-3{
    width:100%;
    max-width:50px;
    height:auto;
}


.resumess{
    font-size:1.6vw;
    margin-top:0;
    margin-bottom: 0.25rem ;
    font-family: Be Vietnam;
    font-style: bold;
}

#myGroup{
    margin-bottom:15%;
}

/* THIS IS THE END OF PROFILE PAGE */

/*---------------------------------------------------------------------------------------------------------------------*/


/* BEGINNING OF THE PORTFOLIO PAGE */


.editorial{
    padding-top:5%;
    background-color: #E5CA55;
    max-width:1365px;
    width:100%;
    display:inline-block;
}

.col-xs-4{
    margin-left:3%;
    margin-right:3%;
}
.poster{
    padding-top:5%;
}

.portfolioTitle{
    font-family: Abril Fatface;
    font-style: normal;
    font-size: 6vw;
    text-align:center;
    color: black;
    margin-top:13%;
}

#titleShadow{  
    position:relative;
    font-size:6vw; 
    left: -1%;
    top: -1%;
    color: #ECCE5D;
}

.titlebox{
    background-color: #6A6955
}

#designTitle{
    position: absolute;

font-family: Be Vietnam;
font-style: normal;
font-weight: bold;
font-size: 4vw;
text-align: center;
letter-spacing: 0.085em;
color: #ECCE5D;
}

#designTitleShadow{
    position: absolute;
width: 280px;
height: 297px;
left : 147px; top: 760px;

font-family: Be Vietnam;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 70px;
text-align: center;
letter-spacing: 0.085em;
color: black;
}

.editorialtitle{
    text-align: center;
font-family: Be Vietnam;
font-style: normal;
font-weight: bold;
font-size: 2vw;
padding-left: 3%;
padding-right:3%;
/* identical to box height */
letter-spacing: 0.085em;
color: white;
background-color: #6A6955;
}


.upperContent{
    padding-top:5%;
    background-color: #E5CA55;
    width: 100%;
    max-width:1365px;
    height:auto;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    margin-bottom:2%;
    margin-right:0%;
    
}

    #ed1{
    width:100%;
    max-width: 458px;
    height: auto;
    
    }
    
    #ed2{
    width:100%;
    max-width: 280px;
    height: auto;
    
    }
    
    #ed3{
    width:100%;
    max-width: 231px;
    height: auto;
    }

.row{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin:auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.imgText{
    padding-top:1%;
    font-family: Be Vietnam;
font-size: 1.5vw;
text-align: center;
letter-spacing: 0.085em;
color: #000000;
}

    .bottomContent{
        position: relative;
        margin-top: 5%;
        margin-bottom:20%;
        margin-left:30%;
        width: 100%;
    max-width:1365px;
    height:auto;
    padding-left: 5%;
    padding-right:5%;
   

    }
#botImg1{
    width:100%;
    height:auto;
    max-width: 334px;
}

#botImg2{
    width:100%;
    max-width: 229px;
height: auto;
}



.botText{
font-family: Be Vietnam;
font-size: 1.5vw;
text-align: center;
letter-spacing: 0.085em;
color: #000000;
}


/* THE END OF PORTFOLIO PAGE */

/*------------------------------------------------------------------------------------*/

#ScheduleTitle
{
    font-family: Abril Fatface;
    font-style: normal;
    font-size: 6vw;
    text-align:center;
    color: black;
    margin-top:5%;
    background-color: #ECCE5D;
}

.btn-secondary{
    background-color: #D4AD24;
    color: #FFFFFF;
    margin-bottom:10%;
}

.btn-secondary:hover{
    background-color: #6A6955;
}

.btn-add{
    background-color: #D4AD24;
    color: #FFFFFF;
    margin-bottom:10%;
}

#activityName{
    font-family: Abril Fatface;
    width:30%;
    height:30%;
    font-style: normal;
    font-size: 2vw;
    text-align:center;
    color: #6A6955;
}

.activity{
    font-family: Be Vietnam;
    font-size: 1vw;
}



 





