
{% load static %}


{<!DOCTYPE html>
    
    <html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <link rel="icon" href="{% static 'images/odilog white.png' %}" type="image/png" sizes="40x40">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link rel="stylesheet" href="{% static 'css/webCSS.css' %}" type="text/CSS">
                <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
                <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
                <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
                <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Schedule</title>
        </head>
    
    <body> 
            <nav class="navbar navbar-light bg-white fixed-top">
                    <a class="navbar-brand" href="#">
                        <img class ="img-fluid" id="logo" src="{% static 'images/odilog.png' %}" alt="odi logo"></img>
                    </a>
                    <ul class="navbar-nav list-group-horizontal">
                      <li class="list-group-items"><a class="home" href="/">home</a></li>
                      <li class="list-group-items"><a class="home" href="/profile">profile</a></li>
                      <li class="list-group-items"><a class="home" href="/portfolio/">portfolio</a></li>
                      <li class="list-group-items"><a class="home" href="/#contactPage">contact</a></li>
                      <li class="list-group-items"><a class="home" href="/schedule">schedule</a></li>
                    </ul>
                   </nav>

                   <p id="ScheduleTitle">Schedule</p>
        

<form class="css" action="{% url 'homepage:create_schedule' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <input type="submit" class="btn btn-add float-right" value="Add">
        </form>
       
        <div class="footer">
                <img id=logoFoot src="{% static 'images/odilog white.png' %}"></img>
        </div>

    </body>
    </html>
            