
{% load static %}

<!DOCTYPE html>

<html>
    <head>
            <link rel="icon" href="{% static 'images/odilog white.png' %}" type="image/png" sizes="40x40">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/webCSS.css' %}" type="text/CSS">
            <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
            <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    </head>
<body class="homeBody"> 
    <nav class="navbar navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="#">
            <img class ="img-fluid" id="logo" src="{% static 'images/odilog.png' %}" alt="odi logo"></img>
        </a>
        <ul class="navbar-nav list-group-horizontal">
          <li class="list-group-items"><a class="home" href="/">home</a></li>
          <li class="list-group-items"><a class="home" href="/profile">profile</a></li>
          <li class="list-group-items"><a class="home" href="/portfolio/">portfolio</a></li>
          <li class="list-group-items"><a class="home" href="/#contactPage">contact</a></li>
          <li class="list-group-items"><a class="home" href="/schedule">schedule</a></li>
        </ul>
       </nav>
      
        <div class="container section-container" id="homePage">
        <div class="center">
            <h1>Hello,</h1>
            <h2><span></span></h2>
        </div>
      </div>
        

      <div class="container section-container" id="contactPage">
          <div class="center2">
              <h1 id ="contactTitle">Let's get in touch!</h1>
            <br>
            <br>
            
              <div class="container logoSocialMedia justify-content-center">
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <div class="text-center">
                        <img class=socLogo src="{% static 'images/line.png' %}">
                        <p class=socText>Audillapfme</p>
                    </div>
                      
                  </div>
                  <div class="col-md-4">
                    <div class="text-center">
                        <img class=socLogo src="{% static 'images/mail.png' %}">
                        <p class=socText>audipfme@gmail.com</p>
                    </div> 
                  </div>
                  <div class="col-md-4">
                    <div class="text-center">
                        <img class=socLogo src="{% static 'images/phone.png' %}">
                        <p class=socText>087787239689</p>
                    </div>
                      
                  </div>
          </div>
          <br>
          <br>
          <br>
          <div class="row justify-content-center">
            <div class="col-xs-4">
              <div class="text-center">
                  <a href="https://www.linkedin.com/in/audilla-putri-ferialdi-b92139186/" target='_blank'>
                    <img class="socLogo2" src="{% static 'images/in.png' %}"></img>
                </a>
              </div>
                
            </div>
            <div class="col-xs-4">
              <div class="text-center">

                <a href="https://www.instagram.com/audillapf/" target='_blank'>
                  <img class="socLogo2" src="{% static 'images/ig.png' %}"></img>
                  
              </a>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="text-center">
                  <a href="https://open.spotify.com/user/odillapf?si=-A3PxZBAQeSHH8CGDO5WmQ" target='_blank'>
                    <img class="socLogo2" src="{% static 'images/sptfy.png' %}" alt="spotify icon"></img>
                </a>
              </div>
                
            </div>
          </div>

</div>
          </div>
      </div>

        <div class="footer">
                <img id=logoFoot src="{% static 'images/odilog white.png' %}"></img>
           </div>
       
</body>
</html>