
{% load static %}

<!DOCTYPE html>

<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" href="{% static 'images/odilog white.png' %}" type="image/png" sizes="40x40">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/webCSS.css' %}" type="text/CSS">
            <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
            <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
            
    <title>Portfolio</title>
    </head>

<body> 
                <nav class="navbar navbar-light bg-white fixed-top">
                                <a class="navbar-brand" href="#">
                                    <img class ="img-fluid" id="logo" src="{% static 'images/odilog.png' %}" alt="odi logo"></img>
                                </a>
                                <ul class="navbar-nav list-group-horizontal">
                                  <li class="list-group-items"><a class="home" href="/">home</a></li>
                                  <li class="list-group-items"><a class="home" href="/profile">profile</a></li>
                                  <li class="list-group-items"><a class="home" href="/portfolio/">portfolio</a></li>
                                  <li class="list-group-items"><a class="home" href="/#contactPage">contact</a></li>
                                  <li class="list-group-items"><a class="home" href="/schedule">schedule</a></li>
                                </ul>
                               </nav>

        <p  class ="portfolioTitle">Portfolio</p>

    <div class="container-fluid allContent">
        <div class="row">
            <div class="col">
                <div class="text-center">
                        <p class="editorialtitle">EDITORIAL</p>
                </div>
                    
            </div>
                
        </div>
        
        <div class="row">
        <div class="container editorial justify-content-center">
            <div class="col-xs-4 ">
                <div class="text-center">
                        <img id="ed1" src="{% static 'images/Cover takitrii copy.jpg' %}"></img>
                        <br>
                        <p class="imgText" >Takitri Magazine <br> by Media Siswa SMAN 8 2016</p>
                </div>
                    
            </div>
            <div class="col-xs-4">
                    <div class="text-center">
                    <img id="ed2" src="{% static 'images/01-Cover-Depan.jpg' %}"></img>
                    <br>
                    <p class="imgText" >Takitri Magazine <br> by Media Siswa SMAN 8 2017</p>
                    </div>
            </div>
            <div class="col-xs-4">
                    <div class="text-center">
                    <img id="ed3" src="{% static 'images/Did you know  copy.jpg' %}"></img>
                    <br>
                    <p class="imgText" >FunFact page <br> in Takitri 2016</p>
                    </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
            <div class="col ">
                    <p class="editorialtitle">POSTER DESIGN</p>
            </div>
    </div>
    
        <div class="row">
                        <div class="container poster">
            <div class="col-md-auto">
                    <div class="text-center">
                    <img id="botImg1" src="{% static 'images/hi.jpg' %}"></img>
                    <br>
                    <p class="botText" >Gelar Karya 2018 <br> “Discode”, H-4 Countdown</p>
                    </div>
            </div>
            <div class="col-md-auto">
                    <div class="text-center">
                    <img id="botImg2" src="{% static 'images/Poster GelarKarya 2018.jpg' %}"></img>
                    <br>
                    <p class="botText" id="botText2">Gelar Karya 2018 <br>“Discode”</p>
                    </div>
            </div>
        </div>

        </div>
    </div>

    <div class="footer">
            <img id=logoFoot src="{% static 'images/odilog white.png' %}"></img>
    </div>


</body>
</html>