
{% load static %}

<!DOCTYPE html>

<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" href="{% static 'images/odilog white.png' %}" type="image/png" sizes="40x40">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/webCSS.css' %}" type="text/CSS">
            <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
            <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Profile</title>
    </head>

<body> 
        <nav class="navbar navbar-light bg-white fixed-top">
                <a class="navbar-brand" href="#">
                    <img class ="img-fluid" id="logo" src="{% static 'images/odilog.png' %}" alt="odi logo"></img>
                </a>
                <ul class="navbar-nav list-group-horizontal">
                  <li class="list-group-items"><a class="home" href="/">home</a></li>
                  <li class="list-group-items"><a class="home" href="/profile">profile</a></li>
                  <li class="list-group-items"><a class="home" href="/portfolio/">portfolio</a></li>
                  <li class="list-group-items"><a class="home" href="/#contactPage">contact</a></li>
                  <li class="list-group-items"><a class="home" href="/schedule">schedule</a></li>
                </ul>
               </nav>

<div class="container-fluid allProf justify-content-md-center">
    <div class="row">
        <div class="col-md-auto ">
            <div class="container justify-content-md-center">
            <p id="name">Audilla Putri</p>
            <br>
            <br>
            <br>
            <img  class=fotoaku src ="{% static 'images/hihibaru.jpg' %}">
        </div>
        </div>
        
        <div class="col-md-8">
            <div class="container" id="myGroup">
                    <br>
                    
                    <button class="btn btn-profile" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="far fa-user"></i>
                        Profile
                    </button>
                    <button class="btn btn-profile" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"><i class="fas fa-graduation-cap"></i>
                        Education
                    </button>
                    <button class="btn btn-profile" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3"><i class="fas fa-briefcase"></i>
                            Experience
                    </button>
                    <br>
                    <br>
                    <div class="collapse show" id="collapseExample" data-parent="#myGroup">
                            <div class="card card-body">
                                <p class="Title">Hi, I'm Odi</p>
                                <p id="introtext"> I’m an enthusiastic and hard-working individual who’s passionate about designing. I’m currently studying Computer Science in Universitas Indonesia. I’m able to work both as a team and as an individual. I’m adhere to strict deadlines and able to work under pressure.</p>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample2" data-parent="#myGroup">
                            <div class="card card-body2">
                                <p class="Title">Education</p>
                                <ul class="list-unstyled">
                                    <li class="media">
                                      <img class="mr-3" src="{% static 'images/pacil.png' %}" alt="Generic placeholder image">
                                      <div class="media-body">
                                        <h5 class=resumess>Faculty of Computer Science, University of Indonesia</h5>
                                        2018--Now
                                      </div>
                                    </li>
            
                                    <li class="media my-4">
                                      <img class="mr-3" src="{% static 'images/sman8.png' %}" alt="Generic placeholder image">
                                      <div class="media-body">
                                        <h5 class=resumess>SMAN 8 Jakarta</h5>
                                        2015--2018
                                      </div>
                                    </li>
            
                                    <li class="media my-4">
                                        <img class="mr-3" src="{% static 'images/alazka.png' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                          <h5 class=resumess>SMPI Al-Azhar Kelapa Gading</h5>
                                          2013--2015
                                         </div>
                                    </li>
                                    <li class="media my-4">
                                        <img class="mr-3" src="{% static 'images/alazka.png' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class=resumess>SDI Al-Azhar Kelapa Gading</h5>
                                            2008--2013
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
            
            
                        <div class="collapse" id="collapseExample3" data-parent="#myGroup">
                            <div class="card card-body2">
                                <p class="Title">Experience</p>
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <img class="mr-3" src="{% static 'images/senbud.png' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class=resumess>Student Executive Board</h5>
                                                Staff of Department of Art and Culture - 2019
                                        </div>
                                    </li>
                                    <li class="media my-4">
                                      <img class="mr-3" src="{% static 'images/compfest.jpg' %}" alt="Generic placeholder image">
                                      <div class="media-body">
                                        <h5 class=resumess>Compfest XI 2019</h5>
                                        Staff of Fundraising Division - 2019
                                      </div>
                                    </li>
                                    <li class="media my-4">
                                        <img class="mr-3" src="{% static 'images/dscd.jpg' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                          <h5 class=resumess>Gelar Karya "Discode"</h5>
                                          Head of Visual Design Divison - 2018
                                        </div>
                                    </li>
                                    <li class="media my-4">
                                        <img class="mr-3" src="{% static 'images/mesis.png' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                          <h5 class=resumess>Media Siswa 29 SMAN 8 Jakarta</h5>
                                          Head of Graphic Design Division - 2017
                                        </div>
                                    </li>
                                </ul>      
                            </div>
                        </div>
                    </div>
                </div>        
        </div>
    </div>
</div>

        
</body>

</html>